*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  grid-template-rows: 534px;
  grid-template-areas: "result details";
  gap: 30px;
}

.result {
  grid-area: result;
  align-content: end;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  column-gap: 40px;
  font-family: 'Fira Sans Condensed', sans-serif;
  line-height: 21.6px;
}

.search-form__fieldset {
  border: none;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 5px;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

.search-form__label {
  display: flex;
  align-items: center;
  column-gap: 5px;
  width: fit-content;
}

.search-form__label:has(:focus) {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__label:hover:not(:has(input[type="text"])) {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.search-form__textfield {
  min-width: 225px;
  appearance: none;
  font-family: inherit;
  font-style: normal;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 17.5px;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  display: flex;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

.search-form__checkbox:checked ~ .search-form__pseudo-checkbox::after {
  content: "";
  display: block;
  margin: auto;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__submit-button {
  min-width: 194px;
  align-self: flex-end;
}

.content__details{
  grid-area: details;
  width: 100%;
  height: 100%;
  font-family: Oswald, sans-serif;
}

.title {
  margin-bottom: 26px;
  font-size: 75px;
  font-weight: 700;
  line-height: 70.5px;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.button {
  min-height: 34px;
  max-width: 194px;
  border: 1px solid #fff;
  font-family: inherit;
  font-size: inherit;
  font-weight: 700;
  color: inherit;
  background-color: transparent;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.button:active {
  text-decoration: none;
  background-color: #545050;
}

.more-button {
  width: calc(100%-6px);
  margin: 0 0 3px 3px;
}

.content__list-container {
  position: relative;
  height: 298px;
  overflow: auto;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 3px 3px 0 3px;
}

.cards-list-item {
  font-family: Oswald, sans-serif;
  color: #fff;
}

.content__list-item:last-child {
  margin-bottom: 30px;
}

.content__card-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.content__card-link:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #545050;
  color: #fff;
  text-decoration: none;
}

.content__video-card{
  display: flex;
  align-items: flex-start;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  line-height: 16.2px;
}

.content__video-card-title {
  width: 100%;
  max-width: 196px;
  font-size: 30px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}
